<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloWorld</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    {{message}}
</div>
<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息
    </span>
</div>
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo  in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">翻转消息</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item
        v-for="item in groceryList"
        v-bind:todo ="item"
        v-bind:key ="item.id"
        >

        </todo-item>
    </ol>
</div>
<div id="example">
    <p>Original message: "{{ message }}"</p>
    <input type="text" v-model="message">
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>
<div id="watch-example">
    <p>   Ask a yes/no question:</p>
    <p>{{answer}}</p>
</div>
<script type="text/javascript">
    var app = new Vue({
        el :'#app',
        data :{
            message :'Hello Vue'
        }
    })
    var app2 = new Vue({
        el :"#app-2",
        data :{
            message:'页面加载于'+ new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el: "#app-3",
        data :{
            seen:true
        }
    })
    var app4 = new Vue({
        el :"#app-4",
        data :{
            todos:[
                {text:'学习js'},
                {text:'学习 vue'},
                {text:'整个项目'}
            ]
        }
    })
    var app5 =new Vue({
        el:"#app-5",
        data :{
            message:"hello vue.js!"
        },
        methods :{
            reverseMessage:function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    var app6  = new Vue({
        el :"#app-6",
        data :{
            message:"Hello Vue!"
        }
    })
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.id}},{{todo.text}}</li>'
    })
    var app7 = new Vue({
        el :"#app-7",
        data :{
            groceryList :[
                {id:'0',text:"蔬菜"},
                {id:'1',text: "水果"},
                {id:'2',text: "其他"}

            ]
        }
    })
    var example  = new Vue({
        el: '#example',
        data: {
            message: 'Hello'
        },
        computed:{
            reversedMessage :function () {
               return this.message.split('').reverse().join('')
            }
        }
    })
</script>
</body>
</html>